{% extends "lottery/base_lottery.html" %}
{% load static %}

<!--{% block body_class %}recent{% endblock %}-->

{% block lottery-nav-bar %}
{% endblock lottery-nav-bar %}

{% block header-name %}Help{% endblock header-name %}

{% block lottery-body %}
    <div class="text-white" style="width: 100%;">
    <div class="main_body_wrapper main_body_wrapper_aboutus  px-4 pt-3 pb-5">
      <!-- <div class="home_icon text-center py-2 mb-3">
        <a href="#/" class="text-white"><i class="bi bi-house-fill text-white me-2"></i>Home</a>
        <span class="text-white px-2">-</span>
        <span class="text-capitalize text_danger pb_news">Help</span>
      </div> -->

      <div class="image_grid">
        <div class="row">
          <div class="col-12 col-lg-12">
            <main id="help">
              <div>

                <section id="introduction">
                  <h2>Welcome To Bullseye Lottery Prediction and Analysis</h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> Welcome to Bullseye Lottery Software
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             Welcome to Bullseye Lottery Prediction and Analysis. Keeping you in the game! Bullseye Picks are the easiest way to get started with Bullseye, we do all the work for you. Get daily or weekly picks, track your winnings, save your favorites, check your tickets, everything you need is right here.
                         </p>
                        </li>

                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             If you need help, this is the place to find it. If you can’t find your answers here, we are always happy to answers questions for you and we are always updating this page with new and improved topics. If you need to contact us, just send us an email request from our Contact Us page. Simply click the Contact Us link on the Sidebar and fill out the form.
                         </p>
                        </li>

                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             Finally, before you get started. Thank you for subscribing to Bullseye Lottery. Winning the lottery isn’t easy, if it were then you wouldn’t see the enormous jackpots that you see today. We can’t guarantee that you will win the lottery using our software but using our software will give you a much better edge over buying a random computer generated ticket. See more winning combinations and winning more cash keeps you in the game until that winning ticket does hit!
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </section>
                <section id="started">
                  <h2>Getting Started with Bullseye Lottery </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>


                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>


                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> Topic 3
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>


                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> Topic 4
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="userFav">
                  <h2>User Favorites</h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 	Setting User Favorites
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             Setting User Favorites – Navigate to the Latest Results option in the lefthand pane or Sidebar. Select this option. Here you can add your most commonly used Lottery games or games that you would like to track. Simple Click the “Plus” button under the “My Favorites” heading.
From here the My Favorites dialog appears and you can add your lottery games. First select a Country, then a State or Provence. Select the game that you wish to add to your Favorites then click the Add Game button.  It’s that easy!
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>


                    <ul>
                        <li>
                            <i class="bi bi-arrow-right"></i> Topic 3
                            <ul>
                                <li>
                                    <i class="bi bi-stop-circle"></i>
                                    <p>
                                        To Remove a lottery game from your Favorites, Select the Red <font color="#ff0033">
    X
</font> next to the selected game.
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </section>
                <section id="latestResult">
                  <h2>Latest Results</h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 	Using Latest Results
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             After you have added your favorite lottery games to track you will use the Latest Results to see the results for the latest draw, time until the next drawing and the estimated jackpot. The estimated jackpot will only appear for certain games and it does not appear for all games.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="newPicks">
                  <h2>Generating New Picks </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i>	Bullseye Picks
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             Creating Bullseye Picks are the easiest way to get started with Bullseye Lottery. Bullseye Picks automatically use our picking algorithm and preset filters to give you the best overall odds of winning combinations.
•	Select Bullseye Picks under Generate Picks in the sidebar.
•	In the Generate Tickets For dropdown selection, select the game that you would like picks for.
•	Now select how many Bullseye Picks you would like to generate for the selected lottery game.
•	Select the drawing date for the game.
•	Create Picks.
Your Picks will now appear on the right. You can review, eliminate and save your selections.

                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i>	Custom Picks
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Wheeling Picks
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             Wheeling lottery picks have been around for a very long time and does offer some significant advantages. Essentially, you are playing a few, several or all combinations of a given set of numbers. For example, if you were to select 6 numbers in a 6/53 game then you would get 1 ticket. If the 6 numbers you selected were all drawn then you are guaranteed a winning ticket.
The more numbers that you select for the wheel, creates more combinations. There are many types of wheeling systems available like Full Wheels, Balanced Wheels, Abbreviated Wheels and so on. They all Guarantee a winning lottery prize! Careful about the Guarantee, it only applies if your numbers played are drawn, so it’s not really a guarantee.

                        </li>
                      </ul>
                    </li>
                  </ul>

                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		User Generated Picks
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="tickets">
                  <h2>Checking Your Tickets</h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="charts">
                  <h2>Charts/Graphs </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 3
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 4
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>



                <section id="filters">
                  <h2>Applying Filters </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 3
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 4
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="drawHistory">
                  <h2>User Draw History </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>


                <section id="tips">
                  <h2>Bullseye Tips </h2>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 1
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                             We recommend to play your picks over at least 3 or 4 drawings before generating new picks. Most games have multiple sets of balls.  Allowing your picks to play for multiple drawings gives you a better opportunity to see if your selections are on the right track.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                    <i class="bi bi-arrow-right"></i> 		Topic 2
                      <ul>
                        <li><i class="bi bi-stop-circle"></i>
                         <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae totam, commodi possimus odio nam non molestias. Labore expedita quo odio harum, dolor at perspiciatis doloremque quibusdam incidunt consectetur, sint sunt.
                         </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </div>
              <nav class="section-nav">
                <ul>
                  <li><a href="#introduction">Introduction</a></li>
                  <li><a href="#started">Getting Started with Bullseye Lottery </a></li>
                  <li><a href="#userFav">User Favorites</a></li>
                  <li class=""><a href="#latestResult">Latest Results</a></li>
                  <li class=""><a href="#newPicks">Generating New Picks </a></li>
                  <li class=""><a href="#tickets">Checking Your Tickets</a></li>
                  <li><a href="#charts">Charts/Graphs </a></li>
                  <li><a href="#filters">Applying Filters </a></li>
                  <li><a href="#drawHistory">User Draw History</a></li>
                  <li><a href="#tips">Bullseye Tips  </a></li>
                </ul>
              </nav>
            </main>
          </div>
        </div>
      </div>

    </div>
    </div>
{% endblock lottery-body %}
{% block lottery-footer %}
{% endblock lottery-footer %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'scripts/' %}common.js"></script>
<script type="text/javascript" src="{% static 'scripts/' %}help.js"></script>
{% endblock %}
