{% extends "lottery/base_lottery.html" %}
{% load unicorn static %}

<!--{% block body_class %}user history{% endblock %}-->

{% block lottery-nav-bar %}
{% endblock lottery-nav-bar %}

{% block header-name %}User History{% endblock header-name %}
{% block extra_css %}{% unicorn_scripts %}{% endblock extra_css %}
{% block lottery-body %}
    {% csrf_token %}
    {% unicorn 'user_draw_history_list' %}
{% endblock lottery-body %}
{% block lottery-footer %}
{% endblock lottery-footer %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'scripts/' %}common.js"></script>
<script type="text/javascript" src="{% static 'scripts/' %}user_lottery_history.js"></script>
{% endblock %}

