
{% load static unicorn %}
<div class="" style="position: relative; width: 100%">
    <div  class="text-center" style="margin: auto;">
        <span class="text-white">
            <select class="text-white text-capitalize font-size:30px" style="background-color:#0d1e25;" id="lotterySelect" unicorn:model="target_lottery" unicorn:change="lottery_select()">
                {% for favorite in lotteries %}
                    <option value="{{favorite.lottery.id}}">{{ favorite.lottery.game }} ({{ favorite.lottery.location }})</option>
                {% endfor %}
            </select>
        </span>
    </div>
    <div class="main_body_wrapper  px-4">
        <div>
            <div class="row left_row_buffer">
              <div class="col-12 col-md-6">
                <div class="p-3 stats_inner d-flex align-items-center">
                  <img src="{% static 'images/' %}bonus-promo.png" class="img-fluid me-4" alt="balance">
                      <div class="amount_text">
                          <span class="mb-0 text_lgray text-capitalize" id="last_draw_date">LAST DRAW</span>
                            <span class="mb-0 text_lgray text-capitalize">{{ current_lottery.0.lottery.latest_results.date }}</span>
                              {%  with current_lottery.0.lottery.latest_results as results %}
                                {% include "display_balls.html" %}
                              {%  endwith %}
                      </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="p-3 stats_inner d-flex align-items-center">
                    <img src="{% static 'images/' %}stats.png" class="img-fluid me-4" alt="balance">
                    <div class="amount_text">
                        <span class="mb-0 text_lgray text-capitalize">{{ current_lottery.0.lottery.next_result_date }}</span>
                        <h5 class="text-warning mb-0" id="draw_countdown"></h5>
                  </div>
                </div>
              </div>
                  {% if current_lottery.0.lottery.jackpot|length > 0 %}
                      <div class="row" id="jackpot_div">
                        <div class="p-3 stats_inner d-flex align-items-center">
                          <img src="{% static 'images/' %}unbeat.png" class="img-fluid me-4" alt="balance">
                          <div class="amount_text">
                            <span class="mb-0 text_lgray text-capitalize">JACKPOT</span>
                            <h5 class="text-warning mb-0" id="jackpot_text">
                                {{ current_lottery.0.lottery.jackpot }}
                            </h5>
                          </div>
                        </div>
                      </div>
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row text-white border: 50px">
            <div class="col-12 col-md-6">
                <form action="/action_page.php">
                  <label for="fname">Draw Date:</label><br>
                  <input type="text" id="fname" name="fname" value="John"><br>
                  <label for="lname">Number of Picks:</label><br>
                  <input type="text" id="lname" name="lname" value="Doe"><br><br>
                  <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-12 col-md-6">
                <span>RESULTS GO HERE</span>
            </div>
        </div>
    </div>
</div>
